<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag(@recipe.image.url(:medium), class: "img-rounded") %>
    </div>
    <div class="col-md-8 description">
      <h2><%= @recipe.title %></h2>
      <p>
        <%= @recipe.description %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="directions">
        <h2>Directions</h2>
        <ul>
          <% @recipe.directions.each do |direction| %>
            <li><%= direction.step %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-push-1 col-md-10">
      <div class="panel panel-default panel-comments">
        <h2 class="text-center"><%= pluralize(@recipe.comments.count, "comment")%></h2>
        <% if @recipe.comments.any? %>
            <%= render @recipe.comments %>
        <% else %>
            <p class="text-center">Be the first to comment below</p>
        <% end %>
      </div>
    </div>
  </div>

  <% if logged_in? %>
      <div class="row">
        <p>
        <h2>Join the discussion</h2>
        </p>

        <%= render 'comments/form' %>
      </div>
  <% else %>
      <p class="alert alert-info">Please login so you can comment on this recipe.
      (Apologies for the inconvenience)</p>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Back", root_path, class: "btn btn-lg btn-default" %>
      <% if admin_logged_in? %>
          <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
          <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"},
                      class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>


